body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.wrapper-outer {
    height: 100vh;
    width: 100vw;
    background: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-inner {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-panel {
    height: 100%;
    width: 100%;
    display: flex;
}

.wallpaper-panel {
    flex: 0 0 75%;
    background: url(../images/night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.current-desc {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.3);
    padding: 8px 18px;
    letter-spacing: 1px;
    border-radius: 100px;
    font-size: 14px;
    margin-top: 5px;
}
.location-info {
    color: white;
    font-family: Montserrat;
    position: absolute;
    text-align: right;
    right: 30px;
    top: 28px;
    text-transform: uppercase;
}

.location-info i {
    font-size: 35px;
    margin-bottom: 8px;
}

.location-info .location {
    line-height: 1.5rem;
    max-width: 15rem;
}


@media screen and (max-width: 640px) {
    .main-panel {
        flex-direction: column-reverse;
    }
    .wrapper-inner {
        height: 93vh;
        width: 90vw;
        margin-top: 1.2rem;
    }
    .wallpaper-panel {
        background: url(../images/night@0.5x.jpg);
    }
   
}
